{
  "extends": "airbnb-base/legacy",
  "globals": {
    "Pinboard": true,
    "chrome": true
  },
  "rules": {
    "func-names": "off",
    "no-restricted-syntax": "off",
    "no-prototype-builtins": "off"
  }
}
